<div class="nav-links">
  <%= link_to 'Show Report', report_books_path %>
</div>
<h3>All Books</h3>

<table>
  <thead>
    <tr>
      <th width="200">Title</th>
      <th width="200">Authors</th>
      <th>Price</th>
      <th>Release Date</th>
      <th><%= link_to 'Add New ', new_book_path %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.authors_for_display %></td>
        <td><%= format_price(book.price) %></td>
        <td><%= format_date(book.release_date) %></td>
        <td>
          <%= link_to image_tag('Details.png'), book_path(book), title: 'Product Details' %>
          &nbsp; &nbsp;
          <%= link_to image_tag('Edit.png'), edit_book_path(book), title: 'Edit Product' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>